
@<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,900&display=swap" rel="stylesheet">

* {
  margin: 0;
  padding: 0;
}

@keyframes identifier {
  0%{
    top: 200px;
  }
  50%{
    top:-70px;}
    100%{
      top:0px;
      opacity: 1;
    }
}

@keyframes namechange101 {
0%{
  opacity: 1;
}
50%{
  opacity: 0;
}
100&{
  opacity: 1;
}
}

@keyframes moveup {
from{
  top: 1200px;
}
to{
  top: 400px;
}
}

 .word1 {
    font-size: 150px;
    color: #ff0099;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-shadow: 0 10px 10px rgba(0, 0, 0, .8);
    top: 400px;
    position: relative;
}

.word2 {
  padding: 0px;
  margin: 0px;
  font-size: 250px;
  color: #ff0099;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-style: oblique;
  font-weight: bold;
  text-shadow: 10px 20px 20px rgba(0, 0, 0, .8);
  top: 400px;
  position: relative;

  /*transition: color 1s ease-in-out, font-size 0.7s ease-in-out;*/

}

.gl{
  padding: 100px;
  font-size: 50px;
  color: #ff0099;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-shadow: 2.5px 5px 5px rgba(0, 0, 0, .8);
  top: 1200px;
  position: relative;

  animation: moveup 1s;
  animation-delay: 4.5s;
  animation-fill-mode: forwards


}

#thirdword{
  opacity: 1;
  animation: namechange101 2s;
  animation-delay: 2.6s;
}

/*.word2:hover{
  font-size: 300px;
  color: red;
  margin: 0;
  padding: 0;
}*/
.l{
  top: 200px;
  opacity: 0.0;
  position: relative;
animation-delay: 0s;
  animation: identifier 2s;
  animation-fill-mode: forwards
}

.o{
  top: 200px;
  opacity: 0.0;
  position: relative;
  animation: identifier 2s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards
}

.v{
  top: 200px;
  opacity: 0.0;
  position: relative;
  animation: identifier 2s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards
}

.e{
  top: 200px;
  opacity: 0.0;
  position: relative;
  animation: identifier 2s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards
}


body{
background-image: url(https://media.giphy.com/media/3o6gbeVN2ZPbG2COKA/giphy.gif);
background-repeat: no-repeat;
background-size: cover;
background-size: 180%;
background-position: center;
background-attachment: fixed;
}
